<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/resources/css/reset.css">
  <link rel="stylesheet" href="static/resources/css/memo.css">
  <title>Linux memo</title>
</head>
<body>
  <div id="wrapper">
    <div id="top_area">
      <div class="search_box">
        <input type="text" class="search_input">
      </div>
      <div class="svc_box">
        <!-- sync 시작에서 완료시점까지 #wrapper애 .sync_wait class추가해주세요
        커서 모양이 바뀝니다. -->
        <button type="button" class="sync"><span class="text_ir">sync</span></button>
        <div class="each_setting">
          <button type="button"><span class="text_ir">설정</span></button>
          <ul class="setting_dropdown">
            <!-- 미완성 -->
            <li>
              <span>mode</span>
              <!-- <div style="display: inline-block;">
                <label for="Atype">A type</label>
                <input type="radio" name="type_select" id="Atype">
                <label for="Btype">B type</label>
                <input type="radio" name="type_select" id="Btype">
              </div> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- //header -->

    <div id="content">
      <ul class="board_list">
        <!--
          <li class="board">
            <input type="text" value="confirmedName" class="name_input">
            <span class="name_span show">confirmedName</span>
          </li>
         -->
        <li class="create_name">
          <input type="text" id="add_board" class="write_name">
          <span class="plus_shape show">+</span>
        </li>
        <!-- //board -->
      </ul>
      <!-- //board_list -->

      <div class="board_view">
        <!-- class="memobox_opened" : 메모쓰기박스가 모든 영역을 차지함 -->
        <div class="category_list">
<!--          <div class="category">-->
<!--            <div class="category_name">-->
<!--              <input type="text" id="add_name_input">-->
<!--              <span id="add_name_span" class="show">+</span>-->
<!--            </div>-->
<!--            <ul class="cards">-->
<!--              <li>-->
<!--                <div class="card_preview">-->
<!--                  txt와 img가 들어간다-->
<!--                  두 줄 까지만 보인다?-->
<!--                </div>-->
<!--                <div class="each_setting">-->
<!--                  <button type="button"><span class="text_ir">설정</span></button>-->
<!--                  <ul class="setting_dropdown">-->
<!--                    <li>설정 리스트</li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->

          <div class="create_name">
            <input type="text" class="add_category write_name">
            <span class="plus_shape show">+</span>
          </div>
        </div>
        <!-- //category_list -->

        <div class="memo_box">
          <div class="memo_swich swich_cover">
            <button type="button" title="메모 펼치기" id="swich_memoopen"></button>
            <button type="button" title="메모 접기" id="swich_memofold"></button>
          </div>
          <!-- //memo_openfold -->

          <div class="memo_write">
          <!-- .memo_write.titles_show : .titles_box .titles 가 보여짐 -->
            <div class="new_memo">
              <button type="button" class="memo_clear">+ 새 메모</button>
            </div>

            <div class="titles_box">
              <button type="button" class="show_btn" title="show category"><span class="text_ir">dropdown open close</span></button>
              <ol class="titles">
                <li>
                  <div class="title">
                    <span>board name</span>
                  </div>
                  <div class="search_box">
                    <input type="text" id="board_search" class="search_input" readonly>
                    <ul id="board_dropdown" class="result_list">
                      <!-- .result_box.result_show : 결과값 리스트가 보임 -->
                      <!-- <li>board 1</li>
                      <li>board 2</li> -->
                  </div>
                </li>
                <li>
                  <div class="title">
                    <span>category name</span>
                  </div>
                  <div class="search_box">
                    <input type="text" id="category_search" class="search_input" readonly>
                    <ul id="category_dropdown" class="result_list">
                      <!-- 검색값이 없을 경우 create name 보여지고 선택가능 -->
<!--                      <li class="create">create name</li>-->
                    </ul>
                  </div>
                </li>
              </ol>
            </div>

            <div class="card_box">
              <input type="text" id="card_title" class="write_memo" placeholder="title">
              <textarea name="" id="card_content" class="write_memo" rows="10" placeholder="content"></textarea>
            </div>
          </div>
          <!-- //memo_write -->
        </div>
        <!-- //memo_box -->
      </div>
      <!-- //board_view -->
    </div>
    <!-- //content -->
  </div>
  <!-- //wrapper -->

<script src="static/resources/js/jQuery3.4.1.js"></script>
<script>
$(document).ready(function(){
// 첫번째 보드 열기
// $('.board_list .board').eq(0).trigger('click');

// memobox open close
$('#swich_memoopen').on('click', function(){
  $('.board_view').addClass('memobox_opened');
  $(this).parent().removeClass('swich_cover')
});

$('#swich_memofold').on('click', function(){
  $('.board_view').removeClass('memobox_opened');
  $(this).parent().addClass('swich_cover')
});

// memo category select box open close
$('.titles_box .show_btn').on('click', function(){
  $('.memo_write').toggleClass('titles_show')
});

// 새메모 클릭 시 초기화
$('.memo_clear').on('click', function(){
  $('#card_title').val('');
  $('#card_content').val('').removeAttr('data', '');
  $('#board_search').val('').removeAttr('data', '');
  $('#category_search').val('').removeAttr('data', '');
});

// board이름, category이름 추가(+) 클릭 시 input 창 열림
$('.create_name').on('click', function(){
  $(this).children('.plus_shape').removeClass('show');
  $(this).children('.write_name').addClass('show').focus();
});

// 보드, 카테고리 생성
$('.write_name').focusout(function(){
  var nameInput = $(this);

  // value가 없으면 리스트 미생성
  if ( !nameInput.val() ) {
    nameInput.next('.plus_shape').addClass('show')
    nameInput.removeClass('show').val('')
    return;
  }

  if ( nameInput.is('#add_board') ) {//보드 생성
    const board_name = $('#add_board').val();

    Promise.resolve({ board_name })
    .then(postBoard)
    .then(createBoardEl)
    .then(viewBoard)
    .then(()=>createNameListDropdown($('.board_list .board'), $('#board_dropdown')))
    .then(function(){
      $('#board_search').val(board_name);
    })

  } else if ( nameInput.is('.add_category') ) {//카테고리 생성
    let category_name = $(this).val();
    let b_id = $('.board_list .board.active .board_input').attr('data');

    Promise.resolve({ category_name, b_id })
    .then(postCategory)
    .then(createCategoryEl)
    .then(()=>createNameListDropdown($('.category_list .category'), $('#category_dropdown')))
    .then(function(){
      $('#category_search').val(category_name);
    })
  }

  //보드, 카테고리 생성 후 create(+) 버튼 초기화
  nameInput.next('.plus_shape').addClass('show')
  nameInput.removeClass('show').val('')

  //생성한 보드 표시
  function viewBoard(){
    $('.board_list .board').removeClass('active');
    $('#add_board').parent().prev('.board').addClass('active');
  }

}).on('keydown',function(e){
  var keyCode = e.which?e.which:e.keyCode;

  // enter 키 입력 시 리스트 생성 (value 값이 있을 때만)
  if ( keyCode === 13 ) {
    if ( $(this).val() === '' ) {
      $(this).val('').focusout();
      return;
    }
    $(this).focusout();
  }

  // esc 키 입력 시 리스트 미생성
  if ( keyCode === 27 ) {
    $(this).val('').focusout();
  }
});

// 메모 생성
$('#card_content').on('focusout', function(){
  let $memoBox = $('.memo_write');
  let boardName = $('#board_search').val();
  let categoryName = $('#category_search').val();
  let c_id = $('#category_search').attr('data');
  let m_id = $(this).attr('data');
  let memo_name = $('#card_title').val()
  let memo_desc = $('#card_content').val()

  if ( memo_desc === '' ) return;

  // 메모 title (보드, 카테고리)이 선택되지 않았을 때
  if ( boardName === '' ) {
    $memoBox.removeClass('titles_show');
    $memoBox.addClass('titles_show')
    alert('보드를 선택해주세요.')
    return;
  } else if ( categoryName === '' ) {
    $memoBox.removeClass('titles_show');
    $memoBox.addClass('titles_show')
    alert('카테고리를 선택해주세요.')
    return;
  }

  if ( memo_name === '' ) {
    $('#card_title').val('제목없음');
  }

  if ( m_id === undefined ) {
    Promise.resolve({ memo_name, memo_desc, c_id })
    .then(postMemo)
    .then(createMemoEl)
    .then(function(){
      $('.memo_clear').trigger('click');
    })
    return;
  }

  alert('현재 메모를 수정할 수 없습니다.')
});

// board name post
function postBoard({ board_name }){
  // let board_name = $('#add_board').val();
  console.log("board_name", board_name)
  return $.ajax({
    type: 'POST',
    url: '/api/boards',
    data: {'board_name':board_name},
    success: function (response) {
      alert('board post')
    }
  })
}

// board name 생성 및 board 이벤트 등록
function createBoardEl() {
  $('.board_list .board').remove();

  return $.ajax({
    type: 'GET',
    url: '/api/boards'
  })
  .then(function(response){
    let table = response['board']

    for(let i=0; i<table.length; i++) {
      let row = table[i]

      $('.board_list .create_name').before(
        '<li class="board">\n' +
          '<input type="text" value="'+row['name']+'" data="'+row['b_Id']+'" class="name_input board_input">\n' +
          '<span class="name_span board_span show">' + row['name'] + '</span>\n' +
        '</li>'
      );

      //보드 click e
      $('.board').off('click');
      $('.board').on('click', function () {// 클릭 시 board 활성화
        let thisBoard = $(this)
        let b_name = thisBoard.find('.board_input').val();
        let b_id = thisBoard.find('.board_input').attr('data');

        $('.board').removeClass('active');
        thisBoard.addClass('active');
        $('#board_search').val(b_name);
        $('#board_search').attr('data', b_id);

        Promise.resolve()
        .then(createCategoryEl)
        .then(createMemoEl)
        .then(()=>createNameListDropdown($('.board_list .board'), $('#board_dropdown')))
        .then(()=>createNameListDropdown($('.category_list .category'), $('#category_dropdown')))
      });

      //보드 더블클릭 e
      handleElEvent($('.board'));
    }
  })
}
createBoardEl();

// category name post
function postCategory({ category_name, b_id }){
  console.log("category_name", category_name)
  if (b_id === undefined) {
    alert('보드를 선택해주세요')
    return;
  }

  return $.ajax({
    type: 'POST',
    url: '/api/categorys',
    data: {'category_name':category_name, 'board_id':b_id},
    success: function (response) {
      alert('category post')
    }
  })
}

// category name 생성 및 add_memo 이벤트 생성
function createCategoryEl() {
  $('.category_list .category').remove();

  return $.ajax({
    type: 'GET',
    url: '/api/categorys'
  })
  .then(function(response){
    let b_id = $('.board_list .board.active .board_input').attr('data');
    let table = response['category'];

    for (let i = 0; i < table.length; i++) {
      let row = table[i]

      if ( row['b_id'] === b_id ) {
        $('.category_list .create_name').before(
          '<div class="category">\n' +
            '<div class="category_name">\n' +
              '<input type="text" value="'+row['name']+'" data="'+row['c_Id']+'" class="name_input category_input">\n' +
              '<span class="name_span category_span show">' + row['name'] + '</span>\n' +
            '</div>\n' +
            '<ul class="cards">\n' +
              '<li class="create_card">\n' +
                '<button type="button" class="add_memo">+</button>\n' +
              '</li>\n' +
            '</ul>\n' +
          '</div>'
        );

        //카테고리 더블클릭 e
        handleElEvent($('.category_name'));
      }
    }

    //메모 추가하기 버튼 e
    $('.add_memo').off('click');
    $('.add_memo').on('click', function(){
      let thisCategory = $(this).parents('.category');
      let docWidth = $(document).outerWidth();
      let c_name = thisCategory.find('.category_input').val();
      let c_id = thisCategory.find('.category_input').attr('data');

      // 메모 view 박스 카테고리에 카테고리 정보 넣기
      $('#category_search').val(c_name);
      $('#category_search').attr('data', c_id);

      if ( docWidth <= 1200 ) {
        $('.board_view').removeClass('memobox_opened')
        $('.board_view').addClass('memobox_opened')
        $('.memo_swich').removeClass('swich_cover')
        $('#card_title').focus();
        return;
      }
      $('#card_title').focus();
    });
  });
}

// memo name post
function postMemo({ memo_name, memo_desc , c_id }){
  console.log("memo_name", memo_name, "memo_desc", memo_desc, "c_id", c_id)
  if (c_id === undefined) {
    alert('카테고리를 선택해주세요')
    return;
  }

  return $.ajax({
    type: 'POST',
    url: '/api/memos',
    data: {'memo_name':memo_name, 'memo_desc':memo_desc, 'category_id':c_id},
    success: function (response) {
      alert('memo post')
    }
  })
}

// memo 생성
function createMemoEl() {
  $('.cards .card').remove();

  return $.ajax({
    type: 'GET',
    url: '/api/memos'
  })
  .then(function(response){
    let table = response['memo'];
    let $categoryName = $('.category .category_name .category_input');

    $categoryName.each(function () {
      let $thisCategory = $(this).parents('.category');
      let c_Id = $(this).attr('data');

      for (let i = 0; i < table.length; i++) {
        let row = table[i]

        if (row['c_Id'] === c_Id) {
          console.log(row['c_Id'], {c_Id}, 'same id')
          $thisCategory.find('.cards .create_card').before('<li class="card" data="' + row['m_Id'] + '">\n' +
            '<div class="memo_title">' + row['name'] + '</div>\n' +
            '<div class="memo_desc">' + row['desc'] + '</div>\n' +
            '<div class="each_setting">\n' +
              '<button type="button"><span class="text_ir">설정</span></button>\n' +
              '<ul class="setting_dropdown">\n' +
                '<li>설정 리스트</li>\n' +
              '</ul>\n' +
            '</div>\n' +
          '</li>');
        }
      }
    });

    //메모 click e
    $('.card').off('click');
    $('.card').on('click', function () {// 클릭 시 메모 뷰
      let $memo = $(this);
      let title = $memo.find('.memo_title').text();
      let desc = $memo.find('.memo_desc').text();
      let b_name = $('.board_list .board.active .board_input').val();
      let b_id = $('.board_list .board.active .board_input').attr('data');
      let c_name = $memo.parents('.category').find('.category_input').val();
      let c_id = $memo.parents('.category').find('.category_input').attr('data');
      let m_id = $memo.attr('data');

      console.log({b_name, b_id, c_name, c_id})
      $('#card_title').val(title);
      $('#card_content').val(desc).attr('data', m_id);
      $('#board_search').val(b_name);
      $('#board_search').attr('data', b_id);
      $('#category_search').val(c_name);
      $('#category_search').attr('data', c_id);

      // 메모 view 박스 열기
      $('.board_view').removeClass('memobox_opened');
      $('.board_view').addClass('memobox_opened');
      $('.memo_swich').removeClass('swich_cover')
    });
  });
}
function createNameListDropdown($inputList, appendEl) {
  let dataList = [];

  $inputList.each(function(){
    let $input = $(this).find('input[type="text"]')
    let name = $input.val();
    let id = $input.attr('data');
    let data = {name, id}
    dataList.push(data)
  });

  appendEl.empty();
  for (let i=0, l=dataList.length; i<l; i++) {
    appendEl.append('<li ' + 'data=' + dataList[i]['id'] + '>' + dataList[i]['name'] + '</li>');
  }
  appendEl.append('<li class="create">create name</li>')

  dataList = [];
}


function handleElEvent(selector) {
  // board 리스트 이벤트 (active 및 modify)
  selector.off('dblclick');
  selector.on('dblclick', function(){// 더블클릭 시 board input창이 활성화 되며 수정(modify)모드
    let $selector = $(this);
    let childInputEl = $selector.find('.name_input');
    let nowValue = $selector.find('.name_input').val();

    $selector.find('.name_span').removeClass('show');
    childInputEl.addClass('show');
    childInputEl.focus().val('').val(nowValue);
  });

  $('.name_input').focusout(function(){// focusout 시 수정완료
    let $nameInput = $(this);
    $nameInput.removeClass('show');
    $nameInput.siblings('.name_span').text($nameInput.val()).addClass('show');

  }).on('keydown',function(e){
    let $nameInput = $(this)
    let keyCode = e.which?e.which:e.keyCode;

    // enter 키 입력 시 수정완료 (value 값이 있을 때만)
    if ( keyCode === 13 ) {
      if ( $nameInput.val() === '' ) {
        $nameInput.val($nameInput.siblings('.name_span').text()).focusout();
        return;
      }
      $nameInput.focusout();
    }

    // esc 키 입력 시 취소
    if ( keyCode === 27 ) {
      $nameInput.val($nameInput.siblings('.name_span').text()).focusout();
    }
  });
}

// memobox에서 board, category input focus시
$('#board_search').focus(function(){
  $('#board_dropdown').addClass('result_show')
}).focusout(function(){
  $('#board_dropdown').removeClass('result_show')
});

$('#category_search').focus(function(){
  $('#category_dropdown').addClass('result_show')
}).focusout(function(){
  $('#category_dropdown').removeClass('result_show')
});

// setting 클릭 시 dropdown open
$('.each_setting').on('click', function(){
  $(this).children('.setting_dropdown').toggleClass('show')
});

});
</script>
</body>
</html>